<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <select v-model="character">
        <option>Character</option>
        <option v-for="(opt, i) in characters" :value="i" :key="i">
            {{opt.name}}
        </option>
      </select>
      <select v-model="category">
        <option value="-1">Category</option>
        <option v-for="(opt, i) in categories" :value="i" :key="i">
            {{opt}}
        </option>
      </select>
      <button @click="onRandom()">Generate</button>
      <div>{{formatedJoke}}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
