@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@font-face {
    font-family: 'Poppins';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
}

body, html {
    height: 100%;
    --anemo: rgb(3, 138, 86);
    --pyro: rgb(161, 4, 4);
    --hydro: rgb(4, 33, 161);
    --geo: #b95300;
    --cryo: rgb(3, 109, 141);
    --electro: rgb(129, 63, 124);
    --char-height: 460px;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif !important;
}

button {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
}

#app {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
}

#left {
    position: relative;
    background-color: var(--geo);
    width: 30%;
}

#left .info {
    width: calc(100% + 100px);
    background-color: #0c0c0d;
    height: 100px;
}

#char {
    position: absolute;
    width: 400px;
    right: -150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(assets/aether.png);
    top: calc(50% - var(--char-height) / 2);
    height: var(--char-height);
}

#vision {
    position: absolute;
    right: 70px;
    bottom: 50px;
    opacity: 0.38;
    height: 300px;
}

#right {
    position: relative;
    box-sizing: border-box;
    width: 70%;
    padding: 150px;
}

#right .bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(100% - 100px);
    background-color: #0c0c0d;
    height: 100px;
    display: flex;
}

.bottom button {
    height: 100%;
    background: none;
    outline: none;
    border:none;
    color: #ffffff;
}

.bottom .generate {
    flex: 1
}

.bottom .share {
    position: relative;
    overflow: hidden;
}

.bottom .share:hover {
    overflow: visible;
}

#share-options {
    position: absolute;
    right: 0;
    top: -100px;
    background-color: var(--geo);
    height: 100px;
}