<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <meta name="twitter:card" content="summary_large_image" />
    <link rel="stylesheet" href="index.css" />

    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div class="to-img" style="display: none">
        <canvas id="my-canvas" height="600" width="800"> </canvas>
        <img
          :src="getCanvasCharImg()"
          id="canvas-img"
          height="437"
          crossorigin="anonymous"
        />
        <img
          :src="getCanvasVisionImg()"
          id="canvas-vision"
          width="318"
          crossorigin="anonymous"
        />
        <a id="twitter"></a>
        <a id="download" download="canvas.png"></a>
      </div>
      <div id="left">
        <div class="info">
          <div>DEVELOPED BY MONIKODE</div>
          <a href="https://api.chucknorris.io/">
            <img
              src="https://assets.chucknorris.host/img/avatar/chuck-norris.png"
              height="30"
          /></a>
          <a href="https://github.com/monikode/genshin-joke-generator">
            <img src="assets/github.svg" height="25" />
          </a>
          <a>
            <img src="assets/info.svg" height="25" />
          </a>
        </div>
        <img :src="getVisionImg()" id="vision" />
        <div id="char"></div>
      </div>
      <div id="right">
        <div id="top">
          <div>
            <select v-model="character">
              <option>Character</option>
              <option v-for="(opt, i) in characters" :value="i" :key="i">
                {{opt.name}}
              </option>
            </select>
          </div>
          <div>
            <select v-model="category">
              <option value="-1">Category</option>
              <option v-for="(opt, i) in categories" :value="i" :key="i">
                {{opt}}
              </option>
            </select>
          </div>
        </div>

        <div class="center">
          <div id="name">{{characters[character].name}}</div>
          <div id="joke">{{formatedJoke}}</div>
        </div>

        <div class="bottom">
          <button @click="onRandom()" class="generate">Generate</button>

          <button class="share">
            <img src="assets/share.svg" />
            <div id="share-options">
              <div @click="downloadCanvas()" id="download">
                <img src="assets/download.svg">
              </div>
              <div @click="tweet()">
                <img src="assets/twitter.svg">
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.min.js"
      integrity="sha512-01CJ9/g7e8cUmY0DFTMcUw/ikS799FHiOA0eyHsUWfOetgbx/t6oV4otQ5zXKQyIrQGTHSmRVPIgrgLcZi/WMA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/dom-to-image/2.6.0/dom-to-image.js"
      integrity="sha512-wUa0ktp10dgVVhWdRVfcUO4vHS0ryT42WOEcXjVVF2+2rcYBKTY7Yx7JCEzjWgPV+rj2EDUr8TwsoWF6IoIOPg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
